.newsLetterComponent {
  background-color: #F2F2F2;
  margin-top: 50px;
}

.newsLetterComponent .title {
  width: 100%;
  text-align: center;
  margin-top: 18px;
}

.newsLetterComponent .container {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding-bottom: 36px;
}

.newsLetterComponent .section h2 {
  font-family: Lato;
  font-size: 20px;
  line-height: 22px;
  font-style: normal;
  font-weight: bold;   
  justify-self: center;

}

.newsLetterComponent form {
  display:flex;
  justify-content: center;
}

.newsLetterComponent form .col-auto {
  margin-right: 8px;
  margin-top: 10px;
}

.newsLetterComponent form input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  background-color: #FFF;
  line-height:14px;
  font-size: 12px;
  padding:15px;
  border: 0;
}

.newsLetterComponent .btn {
  width: 140px;
  height: 40px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;

}

.newsLetterComponent .btn:hover {
  opacity: 0.9;
  width: 150px;
  transition: width 1s;
  cursor: pointer;
}

.success {
  flex-direction: column;
  text-align: center;
}

.success .btn {
  margin: 12px auto;
}

@media (max-width:900px){

  .newsLetterComponent{
    display:block;
     width: 100%;
     min-width: 320px;
     height: 276px;
     margin-right: 0;
  }

  .newsLetterComponent .container{

    width: 100%;
    margin: 0;
    justify-content: space-around;
    height: 100%;
  
 
}
  .newsLetterComponent .title {
  font-size: 22px;
  
  margin-bottom: 5px;

}

  .newsLetterComponent form {
   
    display: flex;
    flex-direction: column;
    line-height:22px;
  }

  .newsLetterComponent form input{
    width: 288px;
    height: 48px;
  }

  .newsLetterComponent form input:first-child {
    margin-top:9px;
    margin-bottom: 9px;
  }
  .newsLetterComponent form .col-auto {
   margin-top: 0;
  }

  .newsLetterComponent .btn {
    width: 288px;
    height: 48px;
  }  
}

